* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: 'Times New Roman', Times, serif;
   scroll-behavior: smooth;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.header{
   border-bottom: 1px solid #E2E8F0;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
   background-color: #5F6F52;
   height: 60px;
   position: fixed;
   width: 100%;
   max-width: 190rem;
}

.hamburger {
   display: none;
}

.ham {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: white;
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav-item {
   margin-left: 5rem;
}

.nav-link{
   font-size: 1.6rem;
   font-weight: 400;
   font-family: tahoma;
   color: white;
}

.nav-link:hover{
   color: red;
}

.nav-logo {
   height: 90px;
   object-fit: cover;
}

@media only screen and (max-width: 768px) {
   .nav-menu {
       position: fixed;
       left: -100%;
       top: 5rem;
       flex-direction: column;
       background-color: #101010;
       width: 100%;
       text-align: center;
       transition: 0.3s;
   }

   .nav-menu.active {
       left: 0;
   }

   .nav-item {
       margin: 2.5rem 0;
   }

   .hamburger {
       display: block;
       cursor: pointer;
       
   }

}

/* homee */

#home {
   height: 100%;
   padding: 15rem 1rem;
}

@media only screen and (min-width: 768px) {
   .profile {
       max-height: 400px;
       box-shadow: 0 0 10px black;
   }

   .main-cont {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
   }
}

@media only screen and (max-width: 767px) {
   .profile {
       max-height: 300px;
       margin-bottom: 20px;
       box-shadow: 0 0 10px black;
   }

   .main-cont {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
   }
}

.btn {
   height: 30px;
   width: 130px;
   font-size: 2rem;
   border-radius: 10px;
   border: solid 1px black;
}

/* tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1010px) and (-webkit-min-device-pixel-ratio: 2) { 
   .profile {
       max-height: 300px;
       margin-bottom: 20px;
       box-shadow: 0 0 10px black;
   }

   .main-cont {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
   }
}

/* about sec*/

#about {
   background-color: #5F6F52;
   height: 100%;
   padding: 10rem 1rem;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1030px) and (-webkit-min-device-pixel-ratio: 2) {
   .itsme{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 7rem;
       justify-content: center;      
   }

   .worksss {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       row-gap: 1.5rem;
   }
}

@media only screen and (min-width: 768px) {
   .profile2 {
       max-height: 400px;
       border-radius: 20px;
       box-shadow: 0 0 10px black;
   }

   .itsme{
       display: flex;
       align-items: center;
       gap: 7rem;
       justify-content: center;
       
   }
}

@media only screen and (max-width: 767px) {
   .profile2 {
       max-height: 300px;
       border-radius: 20px;
       box-shadow: 0 0 10px black;
   }

   .itsme{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 7rem;
       justify-content: center;
       
   }
   
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1010px) and (-webkit-min-device-pixel-ratio: 2) { 
   .profile2 {
       max-height: 300px;
       border-radius: 20px;
       box-shadow: 0 0 10px black;
   }

   .itsme{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 7rem;
       justify-content: center;
       
   }
}

/* works */

#works {
   height: 100%;
   padding: 10rem 1rem;
   background-color: #A9B388;
}

.pics {
   max-height: 350px;
   border-radius: 15px;
}

.worksss {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {
   .pics {
       max-height: 250px;
       margin-bottom: 10px;
       border-radius: 15px;
   }
   .worksss {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       row-gap: 1.5rem;
   }

   .cert1 {
       height: 220px;
       margin-bottom: 10px;
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1010px) and (-webkit-min-device-pixel-ratio: 2) { 
   .pics {
       max-height: 290px;
       margin-bottom: 10px;
       border-radius: 15px;
   }
   .worksss {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-evenly;
       row-gap: 1rem;
   }
}


.pik {
   height: 500px;
   padding: 2rem;
   text-align: center;
}

#certificates {
   height: 100%;
   padding: 10rem 1rem;
   background-color: #5F6F52;
}

.cert1 {
   max-height: 300px;
   margin-bottom: 10px;
}

.footers {
   height: 100%;
   padding: 20rem 0 2px 0;
   background-color: black;
   text-align: center;
   align-items:baseline;
}

.social-icon {
   height: 40px;
}
